h1{
	color:red;
    margin: 10px 0 0 0;

    /* padding: o:superior o:derecha o:abajo o:izquierda; */
}


section article .grande{
	font-size: 0.5em;
	color:green;
}

section article #cajas{
    color: blue;
    /* margin: o:superior o:derecha o:abajo o:izquierda; */
}

.rojo{
  color: red;
}

/*

#id{

}

etiqueta (h1, h2){

}

.class{

}

*/
